@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a work in progress: future goals include a character generation module, a dueling module, and a module for the generation and translation of fictitious languages.</p>
