@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h3>
        A suspicious woodland creature approaches you. Around his neck hangs a tiny rolled scroll. The language is strange but familiar. It reads:
    </h3>
    <p>
        Welcome. <br/>
        You probably don't know where you are. <br />
        This strange creature will help you. <br />
        To begin your journey you must first see what has happened before. <br />
    </p>
    @Html.ActionLink("Create a Character", "Create", "Character", new { area = "" }, new { @class = "btn btn-default" })
</div>

<div class="row">
    <h3>
       The blocky script of the scroll changes as you try to focus on the symbols... 
    </h3>
    <p>
        This language is strange, yet familiar. Your new companion indicates you will encounter much stranger forms of communication in your journeys.
        You must be prepared.
    </p>
    <p><a class="btn btn-default">To the scriptorium! &raquo;</a></p>
</div>

<div class="row">
    <h3>You must train in the ways of the Celestial Dynasty if you are to survive your journey.</h3>
    <p>
        The small woodland animal is clearly expressing concern. You get the feeling it thinks you weak and uncoordinated-- 
        unfit for the struggle before you. It may even be making fun of you a little in its strange clicky tongue.</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Challene Him to an Honor Duel! &raquo;</a></p>
</div>

<div class="row">
    <h3>Unroll the Scroll</h3>
    <p>
        Even as you stare at the tiny animal's little scroll you see its semi-familiar script shift and bend, contorting into..some sort of ancient chronicle?
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Let it Begin &raquo;</a></p>
</div>
